<!DOCTYPE html>
<html lang="en">
<title>{% block title %}{{session.username}} Profile{% endblock %}</title>
<head>

    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="#"/>
    <link rel="stylesheet" type="text/css" href="static/begin.css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>


</head>
<body>
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {% if session.role == 1 %}
                    <a class="navbar-brand" href="{{ url_for('books') }}">BOOKS-API</a>
                {% else %}
                    <a class="navbar-brand" href="{{ url_for('my_books') }}">BOOKS-API</a>
                {% endif %}
            </div>
            <div class="collapse navbar-collapse" id="topNavBar">
                <ul class="nav navbar-nav">
                    <li class="active">
                        {% if session.role == 1 %}
                            <a href="{{ url_for('books') }}">
                                <span class="glyphicon glyphicon-book" aria-hidden="true"></span>&nbsp;  Books
                            </a>
                        {% else %}
                             <a href="{{ url_for('my_books') }}">
                                <span class="glyphicon glyphicon-book" aria-hidden="true"></span>&nbsp; My Books
                            </a>
                        {% endif %}
                    </li>
                </ul>
                {% if session.role == 1 %}
                    <ul class="nav navbar-nav">
                      <li class="">
                        <a href="{{ url_for('users') }}">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; Users
                        </a>
                      </li>
                        </ul>
                {% endif %}
                <ul class="nav navbar-nav navbar-right">
                     <li>
                        <a href="{{ url_for('add_book') }}">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;  Add Book
                        </a>
                    </li>
                    {% if session.role == 0 %}
                         <li>
                            <a href="{{ url_for('my_profile') }}">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; My profile
                            </a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="{{ url_for('logout') }}">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp;  Logout
                        </a>
                    </li>
                </ul>
                <form class="navbar-form navbar-right" role="form" method="POST" action="/search">
                    <div class="form-group">
                        <input type="text" class="form-control" name="book_name" value="{{request.form.book_name}}">
                    </div>
                    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                </form>
            </div>
        </div>
    </nav>

<div class="container">
    <div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic">
					<img src="static/images/avatar.jpg" class="img-responsive" alt="user">
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						{% filter upper %}{{session.username}}{% endfilter %}
					</div>
				</div>
				<!-- END SIDEBAR USER TITLE -->
				<!-- SIDEBAR BUTTONS -->
				<div class="profile-userbuttons">
					<a href="{{ url_for('my_profile') }}"><button type="button" class="btn btn-success btn-sm">Edit</button></a>
				</div>
				<div class="profile-usermenu">
					<ul class="nav">
						<li class="active">
							<a href="{{ url_for('my_profile') }}">
							<i class="glyphicon glyphicon-home"></i>
							Overview </a>
						</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9">
                <form class="profile-content" action="/change_password" method="POST" style="display: inline;">
                    <label class="control-label col-sm-2" for="id_password">
                                Password:
                    </label>
                    <div class="col-sm-6">
                        <input id="id_password" maxlength="25" type="password" class="form-control" placeholder = "Password" name="password" value="{{request.form.password}}">
                    </div>
                    <button type="submit" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-ok"></span>
                    </button>
                </form>

        </div>

            </div>
		</div>
    </div>

</div>
</body>
</html>
