<!DOCTYPE html>
<html lang="en">
<title>{% block title %}Details{% endblock %}</title>
<head>

    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="#"/>
    <link rel="stylesheet" type="text/css" href="static/begin.css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>


</head>
<body>
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {% if session.role == 1 %}
                    <a class="navbar-brand" href="{{ url_for('books') }}">BOOKS-API</a>
                {% else %}
                    <a class="navbar-brand" href="{{ url_for('my_books') }}">BOOKS-API</a>
                {% endif %}
            </div>
            <div class="collapse navbar-collapse" id="topNavBar">
                <ul class="nav navbar-nav">
                    <li class="active">
                        {% if session.role == 1 %}
                            <a href="{{ url_for('books') }}">
                                <span class="glyphicon glyphicon-book" aria-hidden="true"></span>&nbsp;  Books
                            </a>
                        {% else %}
                             <a href="{{ url_for('my_books') }}">
                                <span class="glyphicon glyphicon-book" aria-hidden="true"></span>&nbsp; My Books
                            </a>
                        {% endif %}
                    </li>
                </ul>
                {% if session.role == 1 %}
                    <ul class="nav navbar-nav">
                      <li class="">
                        <a href="{{ url_for('users') }}">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; Users
                        </a>
                      </li>
                        </ul>
                {% endif %}
                <ul class="nav navbar-nav navbar-right">
                     <li>
                        <a href="{{ url_for('add_book') }}">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;  Add Book
                        </a>
                    </li>
                    {% if session.role == 0 %}
                         <li>
                            <a href="{{ url_for('my_profile') }}">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; My profile
                            </a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="{{ url_for('logout') }}">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp;  Logout
                        </a>
                    </li>
                </ul>
                <form class="navbar-form navbar-right" role="form" method="POST" action="/search">
                    <div class="form-group">
                        <input type="text" class="form-control" name="book_name" value="{{request.form.book_name}}">
                    </div>
                    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                </form>
            </div>
        </div>
    </nav>
    <div class="container-fluid songs-container">
            <div class="row">
                <div class="col-sm-4 col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            {% for key in b_list %}
                                <a href="#">
                                    <img src={{key["image"]}} class="img-responsive">
                                 </a>
                                <h1> {{key["name"]}}<small> {{key["price"]}} $</small></h1>
                                <h2>{{key["pages"]}} pages</h2>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-sm-8 col-md-9">

                    {% for key in b_list %}
                        <ul class="nav nav-pills" style="margin-bottom: 10px;">
                            <li role="presentation" class="active"><a href="#">Hey, you can earn: </a></li>
                        </ul>
                    {% endfor %}
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h3>Book details:</h3>
                            {% if error_message %}
                                <p><strong>{{ error_message }}</strong></p>
                            {% endif %}
                            <table class="table">

                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Price</th>
                                        <th>Description</th>
                                        <th>Quantity</th>
                                        <th>Pages</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for key in b_list %}
                                <tr>
                                    <td>{{ key["name"] }}</td>

                                    <td>{{ key["price"] }}</td>

                                    <td>{{ key["description"] }}</td>

                                    <td>{{ key["quantity"] }}</td>

                                    <td>{{ key["pages"] }}</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <a href="{{ url_for('edit') }}">
                                <button type="submit" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

</body>
</html>



