<!DOCTYPE html>
<html lang="en">
<title>{% block title %}Books API{% endblock %}</title>

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="#"/>
    <link rel="stylesheet" type="text/css" href="static/table.css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>

</head>
<body>
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('books') }}">BOOKS-API</a>
            </div>
            <div class="collapse navbar-collapse" id="topNavBar">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="{{ url_for('books') }}">
                            <span class="glyphicon glyphicon-book" aria-hidden="true"></span>&nbsp;  Books
                        </a>
                    </li>
                     {% if session.role == 1 %}
                    <ul class="nav navbar-nav">
                      <li class="active">
                        <a href="{{ url_for('users') }}">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; Users
                        </a>
                      </li>
                        </ul>
                {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                     <li>
                        <a href="{{ url_for('add_book') }}">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;  Add Book
                        </a>
                    </li>
                    {% if session.role == 0 %}
                         <li>
                            <a href="{{ url_for('my_profile') }}">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; My profile
                            </a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="{{ url_for('logout') }}">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp;  Logout
                        </a>
                    </li>
                </ul>
                <form class="navbar-form navbar-right" role="search" method="get" action="">
                    <div class="form-group">
                        <input type="text" class="form-control" name="q" value="">
                    </div>
                    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                </form>
            </div>
        </div>
    </nav>
    {% block body %}
    {% include "layout.html" %}
    {% endblock %}
    {% if session.role == 1 %}
        {% for key in e_list %}
        <div class="overflow-auto" style='width: 50%'>
            <table class="table table-bordered table-striped table-hover table-condensed table-responsive-sm">
                 {% for k,v in key.items() %}
                   <tr>
                        <th style='width: 16.66%'> {{ k }} </th>
                        <td style='width: 16.66%'> {{ v }} </td>
                   </tr>
            {% endfor %}
            <br>
            </table>
        </div>
        {% endfor %}
    {% else %}
        <div class="col-sm-12">
            <p style="color:red">You are not ADMIN!!!!!!!!!!!!</p>
            <br>
            <p style="">GO BACK</p>
            <br>
            <a href="{{ url_for('my_books') }}">
                <button type="button" class="btn btn-success">
                    <span class="glyphicon glyphicon-delete"></span>&nbsp; HOME
                </button>
            </a>
        </div>
    {% endif %}

</body>
</html>


